SiteWebQuidditch/Service References/ServiceReference/ServiceQuiddich1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceQuiddich" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1067/ServiceQuiddich.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1067/ServiceQuiddich.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1067/ServiceQuiddich.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceQuiddich_GetAllCoupes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCoupes" />
  </wsdl:message>
  <wsdl:message name="IServiceQuiddich_GetAllCoupes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCoupesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuiddich_Hello_InputMessage">
    <wsdl:part name="parameters" element="tns:Hello" />
  </wsdl:message>
  <wsdl:message name="IServiceQuiddich_Hello_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuiddich_GetAllEquipes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEquipes" />
  </wsdl:message>
  <wsdl:message name="IServiceQuiddich_GetAllEquipes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEquipesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuiddich_GetJoueursOfEquipe_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJoueursOfEquipe" />
  </wsdl:message>
  <wsdl:message name="IServiceQuiddich_GetJoueursOfEquipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJoueursOfEquipeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuiddich_GetAllStades_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStades" />
  </wsdl:message>
  <wsdl:message name="IServiceQuiddich_GetAllStades_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStadesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuiddich_GetMatchesOfCoupe_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchesOfCoupe" />
  </wsdl:message>
  <wsdl:message name="IServiceQuiddich_GetMatchesOfCoupe_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchesOfCoupeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuiddich_MakeReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeReservation" />
  </wsdl:message>
  <wsdl:message name="IServiceQuiddich_MakeReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuiddich_CompleteReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:CompleteReservation" />
  </wsdl:message>
  <wsdl:message name="IServiceQuiddich_CompleteReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompleteReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuiddich_CancelReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelReservation" />
  </wsdl:message>
  <wsdl:message name="IServiceQuiddich_CancelReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuiddich_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IServiceQuiddich_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuiddich_CheckUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUser" />
  </wsdl:message>
  <wsdl:message name="IServiceQuiddich_CheckUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceQuiddich">
    <wsdl:operation name="GetAllCoupes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuiddich/GetAllCoupes" message="tns:IServiceQuiddich_GetAllCoupes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuiddich/GetAllCoupesResponse" message="tns:IServiceQuiddich_GetAllCoupes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hello">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuiddich/Hello" message="tns:IServiceQuiddich_Hello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuiddich/HelloResponse" message="tns:IServiceQuiddich_Hello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEquipes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuiddich/GetAllEquipes" message="tns:IServiceQuiddich_GetAllEquipes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuiddich/GetAllEquipesResponse" message="tns:IServiceQuiddich_GetAllEquipes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJoueursOfEquipe">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuiddich/GetJoueursOfEquipe" message="tns:IServiceQuiddich_GetJoueursOfEquipe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuiddich/GetJoueursOfEquipeResponse" message="tns:IServiceQuiddich_GetJoueursOfEquipe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStades">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuiddich/GetAllStades" message="tns:IServiceQuiddich_GetAllStades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuiddich/GetAllStadesResponse" message="tns:IServiceQuiddich_GetAllStades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatchesOfCoupe">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuiddich/GetMatchesOfCoupe" message="tns:IServiceQuiddich_GetMatchesOfCoupe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuiddich/GetMatchesOfCoupeResponse" message="tns:IServiceQuiddich_GetMatchesOfCoupe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuiddich/MakeReservation" message="tns:IServiceQuiddich_MakeReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuiddich/MakeReservationResponse" message="tns:IServiceQuiddich_MakeReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompleteReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuiddich/CompleteReservation" message="tns:IServiceQuiddich_CompleteReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuiddich/CompleteReservationResponse" message="tns:IServiceQuiddich_CompleteReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuiddich/CancelReservation" message="tns:IServiceQuiddich_CancelReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuiddich/CancelReservationResponse" message="tns:IServiceQuiddich_CancelReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuiddich/CreateUser" message="tns:IServiceQuiddich_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuiddich/CreateUserResponse" message="tns:IServiceQuiddich_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuiddich/CheckUser" message="tns:IServiceQuiddich_CheckUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuiddich/CheckUserResponse" message="tns:IServiceQuiddich_CheckUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceQuiddich" type="tns:IServiceQuiddich">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCoupes">
      <soap:operation soapAction="http://tempuri.org/IServiceQuiddich/GetAllCoupes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hello">
      <soap:operation soapAction="http://tempuri.org/IServiceQuiddich/Hello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEquipes">
      <soap:operation soapAction="http://tempuri.org/IServiceQuiddich/GetAllEquipes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJoueursOfEquipe">
      <soap:operation soapAction="http://tempuri.org/IServiceQuiddich/GetJoueursOfEquipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStades">
      <soap:operation soapAction="http://tempuri.org/IServiceQuiddich/GetAllStades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatchesOfCoupe">
      <soap:operation soapAction="http://tempuri.org/IServiceQuiddich/GetMatchesOfCoupe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeReservation">
      <soap:operation soapAction="http://tempuri.org/IServiceQuiddich/MakeReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteReservation">
      <soap:operation soapAction="http://tempuri.org/IServiceQuiddich/CompleteReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelReservation">
      <soap:operation soapAction="http://tempuri.org/IServiceQuiddich/CancelReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IServiceQuiddich/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <soap:operation soapAction="http://tempuri.org/IServiceQuiddich/CheckUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceQuiddich">
    <wsdl:port name="BasicHttpBinding_IServiceQuiddich" binding="tns:BasicHttpBinding_IServiceQuiddich">
      <soap:address location="http://localhost:1067/ServiceQuiddich.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>