SiteWebQuidditch/Service References/ServiceReference/ServiceQuiddich.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCoupeWS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CoupeWS" nillable="true" type="tns:CoupeWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCoupeWS" nillable="true" type="tns:ArrayOfCoupeWS" />
  <xs:complexType name="CoupeWS">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObjectWS">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Year" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CoupeWS" nillable="true" type="tns:CoupeWS" />
  <xs:complexType name="EntityObjectWS">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EntityObjectWS" nillable="true" type="tns:EntityObjectWS" />
  <xs:complexType name="ArrayOfEquipeWS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EquipeWS" nillable="true" type="tns:EquipeWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEquipeWS" nillable="true" type="tns:ArrayOfEquipeWS" />
  <xs:complexType name="EquipeWS">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObjectWS">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EquipeWS" nillable="true" type="tns:EquipeWS" />
  <xs:complexType name="ArrayOfJoueurWS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JoueurWS" nillable="true" type="tns:JoueurWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJoueurWS" nillable="true" type="tns:ArrayOfJoueurWS" />
  <xs:complexType name="JoueurWS">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PersonneWS">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="JoueurWS" nillable="true" type="tns:JoueurWS" />
  <xs:complexType name="PersonneWS">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObjectWS">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonneWS" nillable="true" type="tns:PersonneWS" />
  <xs:complexType name="ArrayOfStadeWS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StadeWS" nillable="true" type="tns:StadeWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStadeWS" nillable="true" type="tns:ArrayOfStadeWS" />
  <xs:complexType name="StadeWS">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObjectWS">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StadeWS" nillable="true" type="tns:StadeWS" />
  <xs:complexType name="ArrayOfMatchWS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MatchWS" nillable="true" type="tns:MatchWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatchWS" nillable="true" type="tns:ArrayOfMatchWS" />
  <xs:complexType name="MatchWS">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObjectWS">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MatchWS" nillable="true" type="tns:MatchWS" />
</xs:schema>