UnitTestProject1/Service References/ServiceReference1/ServiceQuiddich2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCoupeWS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CoupeWS" nillable="true" type="tns:CoupeWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCoupeWS" nillable="true" type="tns:ArrayOfCoupeWS" />
  <xs:complexType name="CoupeWS">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObjectWS">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CoupeWS" nillable="true" type="tns:CoupeWS" />
  <xs:complexType name="EntityObjectWS">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EntityObjectWS" nillable="true" type="tns:EntityObjectWS" />
</xs:schema>